* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

html{scroll-behavior: smooth;}
/* ========================main==============*/

.banner{position: absolute; z-index: -1; transition: opacity 2s;}

.centered {
	max-width: 1024px;
	margin: auto;
	overflow: auto;
}

img {
	max-width: 100%;
	vertical-align:middle;
}
h1 {
	font-weight: normal;
	text-align: center;
	margin-bottom: 50px;
}


/* ========================hotline address==============*/
.main-content {color: #fff; text-shadow: 2px 2px 5px #000; margin-top: 10%; width: 75%;}
.main-content h1{text-align: left; font-size: 3.5em; font-weight:bold;}
.main-content h1 + p{font-size: 1.5em; margin-bottom: 3%;}
.main-content button{padding: 2% 5%; background: #111; color: #fff; border:none; cursor: pointer; outline: none;
	margin-top: 3%; font-size: 1em;}
.main-content button:hover{background: #cb191e;}
/* ========================hotline address==============*/

header {
	width: 100%;
	overflow: auto;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
}

header i {
	transform: rotate(100deg);
	border-radius: 50%;
	padding: 10px;
	border: 1px solid #cb191e;
	color: #cb191e;
	margin: 0 10px;
	font-size: 16px;
}

header p {
	float: right;
	padding: 10px;
}


/* ========================navigation==============*/

nav img {
	margin-left: 20px;

}

	nav {width: 100%;
	max-width: 1024px;
	margin: auto;
	background-color: #fff;
	font-size: 16px;
	font-weight: bold;
	position: sticky;
	top: 5px;
	padding: 10px;
	box-shadow: 2px 2px 7px grey;
	z-index: 1;
}

#nav-right {
	float: right;
	margin: 20px 20px 0 0;
}

nav li,a {
	list-style-type: none;
	text-decoration: none;
	display: inline-block;
	padding: 5px;
	color: #cb191e;
	transition: all 0.24s;
	position: relative;
}

nav a:hover {
	color: #bc2b78;
}

.dplist {
	position: absolute;
	background: #fff;
	display: none;
	padding: 10px 5px;
	margin-top: 25px;
	min-width: 250px;
}

.dplist li {
	display: block;
}

.dplist-right {
	position: absolute;
	right: -251px;
	top: -8px;
	background: #fff;
	padding: 10px 5px;
	display: none;
	min-width: 250px;
}

nav a[href*="about"] {
	position: relative;
}

nav a[href*="about"]:before {
	content: "\25BE";
	position: absolute;
	top: 30px;
	left: 22px;
}

nav a[href*="international"]:after {
	content: "\25B8";
	margin-left: 25px;
}

nav li:nth-child(2):hover .dplist {
	display: block;
}

nav li:nth-child(3):hover .dplist-right {
	display: block;
}


/* ========================mid-one==============*/
.heading{
	width:75%;
	margin: 20% auto 0;
}

.heading h1{line-height: 1.6}

.mid-one {

	width: 25%;
	float: left;
	text-align: center;
	border: 2px solid transparent;
	margin-bottom: 50px;
	padding: 45px;
}

.mid-one:hover {
	border-radius: 5%;
	border: 2px solid red;
	color: #cb191e;
}

.mid-one i {
	display: block;
	font-size: 60px;
	color: #cb191e;
	margin-bottom: 30px;

}

/* ========================gallery==============*/
.gallery{width: 100%; text-align: center;}
.gallery img{width: 100%;transition: all 1s;}
.left-gallery{float: left; width: 49%; margin-right: 2%; overflow: hidden; }
.left-gallery:hover img, .right-devide:hover img {transform:scale(1.2,1.2);}
.right-gallery{width: 49%; float: left; overflow: hidden;}
.right-gallery div:first-child{margin-right: 2%;}
.right-gallery div:last-child{margin-left: 2%;}
.right-devide{width: 49%; float: left; margin-bottom: 1.5%; overflow: hidden;}


/* ========================search-box==============*/

.search-box{width: 100%; clear: both; background:#cb191e; padding: 5% 20%; text-align: center; color: #fff; letter-spacing: 1px; word-spacing: 3px; margin: 8% 0;}
.search-box p{margin-bottom:4%;}
.search-box input[type='search']{padding: 18px 10px; width: 50%; color: #cb191e; font-weight: bold; outline: none;}
.search-box input[type='submit']{padding: 19px 10px; width: 25%; border: none; background: rgba(0,0,0,0.2); color: #fff; 
	font-size: 16px; font-weight: bold; transition: all 0.5s;}
input[type='submit']:hover{background:#fff; color: #000;}



/* ========================footer==============*/
footer{width: 100%; background: #2c3848; padding: 5% 0;  color: #fff;}
footer li{line-height: 2.6; list-style-type: none; font-size: 16px; font-weight: bold;}
footer h2{font-weight: normal; margin-bottom: 50px;}
.for-online{float: left; width: 22%; margin-right: 3%;}
.for-business{float: left;  width: 25%; margin-right: 5%;}
.for-online a, .for-business a {color: #fff;}
.for-online a:hover, .for-business a:hover {color: #cb191e;}
.main-office{ width: 45%; float: right;}
.main-office i{padding: 10px; border: 1.5px solid #cb191e; border-radius: 50%; margin-bottom: 20px;}
.main-office li i:first-child {margin-top: 20px;}
.map{margin-top: 50px; padding: 15px; background-color: #cb191e;}
.footer{text-align: center; padding:  1.3rem; background: #162635; color: #fff;}
.footer span{color: #cb191e;}
.footer + p{color:red; position: fixed; bottom: 10px; right: 15px; padding: 10px;	border-radius: 50%; }

#icons {width:50px; position: fixed; top: 50%; left: -50px; transform: translateY(-50%);}
#icons i {border-radius: 50%;  padding: 10px 11px; border:2px solid #cb191e; margin: 5px; background:#fff; color: #cb191e; 
	transition: all 1s;}
#icons i:hover{transform: rotateY(360deg);}
#clrlist{position: fixed; top:50%; transform: translateY(-50%);  padding: 5px; right: -345px;  transition-duration: 1s;}
.clrplate{position: relative; background: #aedadd;  border-radius: 5px; float: right; padding: 10px; }
.seting{color: #cb191e; position: absolute; top: 42%; left: -15%; font-size: 35px; animation: rt 3s linear infinite; transition: all 0.5s;}
.seting:hover{text-shadow: 0px 0px 8px black;}
.clrplate span{width: 45px; height: 45px; float: left; margin-top: 5px;}
.clrplate input{width: 96px; height: 85px; border:none; outline: none; margin-top: 5px;} 
@keyframes rt {
	from{transform: rotate(0deg);}
	to{transform: rotate(360deg);}
}


/* ======== SERVICE PAGE ========= */
.service{ margin: 15% 0 8%; position: relative; color: #fff;}
.service img{opacity: 0.8;}
.service h1{font-weight: bold; letter-spacing: 2px; margin: 7% 0;}
.ways-container{width: 100%; max-width: 1024px;  margin: auto; position: absolute; top: 0; left: 50%; transform: translateX(-50%);}
.ways{width: 23%; float: left; margin-right: 2.666666666666667%; text-align: center; font-size: 17px; line-height: 1.6;}
.ways:last-child{margin-right: 0; float: left;}
.ways i{ font-size: 45px; position: absolute;  top: 50%; left: 50%; transform: translate(-50%, -50%);}
.ways div{width: 90px; height: 90px; background: #cb191e; border: 2px solid #cb191e; border-radius: 50%; position: relative; margin: auto;}
.ways-container i:nth-child(2){color: red;}
.ways h4{font-size: 19px; margin: 30px 0;}
.service-content{width: 100%;  max-width: 1024px;  margin: auto; position: absolute; bottom: 8%; left: 50%; transform: translateX(-50%); line-height: 1.9;}
.service-content p{margin-bottom: 35px; font-size: 17px;}
.service-content input{padding: 10px; width: 120px; background: #000; border: none; color: #fff;}

/* ======== CONTACT PAGE ========= */
.contact{ margin: 15% 0 8%; height: 520px; background: #cb191e;}
.contact h1{margin-top: 8%; font-weight: bold; color: #fff;}
.contact input, textarea{
	width: 100%; padding: 10px; border-radius: 5px; margin-top: 25px; border: none; background: #FAF5FA; outline: none; color: #cb191e; font-weight: bold;
}
.con-left{width: 48%; float: left;}
.con-right{width: 48%; float: right;}
.con-right textarea{height: 151px;}



/* ================ mobile device ===============*/
@media only screen and ( max-width: 480px ){

header{display: none;}
body{font-size: 14px;}

.centered{max-width: 96%;}
#clrlist{display: none;}
nav li,a {
	display: block;
	text-align: center;
}
#toggle{position: absolute; top: 50%; right: 10px; transform: translateY(-50%);}
#line-1, #line-2, #line-3{width: 30px; height: 3px; background: #cb191e; display: block; position: absolute; right: 5px; transition:all 0.5s;}
#line-1{top: -9px;}
#line-2{top: 50%;}
#line-3{top: 9px;}
nav img {
	margin-left: 10px;
	width: 50px;
}

nav a[href*="about"]:before {
	content: "\25BE";
	position: absolute;
	top: 15px;
	left: 49%;
}
nav a[href*="international"]:after {
	content: "\25BE";
	position: absolute;
	top: 25px;
	left: 43%;

}

	nav {
	width: 98%;
	background-color: #fff;
	font-size: 15px;
}

#nav-right {width: 100%; position: absolute; right: 101%; background: rgba(0,0,0,0.9); margin: 15px 0 0 0 ; }

.dplist {position: static; background: #eee; display: none;	padding: 10px 5px;	margin-top: 2px;	min-width: 250px;}

.dplist-right {	position: static; background: #ddd;	padding: 10px 5px; display: none; min-width: 250px; }
.main-content {font-size: 0.6rem; width: 100%; margin-top: 0.6rem;}
.main-content h1{text-align: left; font-size: 1rem; font-weight:bold; margin: 0.1rem 0;}
.main-content h1 + p{font-size: 0.8rem; margin-bottom: 0.2rem; }
.main-content button{padding: 0.5rem 1.5rem; font-size: 0.9em; margin-top: 0.3rem;}


.heading h1{line-height: 1.3;}

.mid-one {width: 55%;  margin: auto; float: none; font-size: 18px; padding: 1rem;}

.left-gallery, .right-gallery{ width: 100%; margin-bottom: 2%; overflow: hidden; }
.gallery{margin-top: 2rem;}

.search-box{padding: 8% 5%; letter-spacing: 0; word-spacing: 1px; margin: 8% 0; font-size: 14px;}
.search-box h1{ margin-bottom: 20px;}
.search-box input[type='search']{padding: 10px 10px;}
.search-box input[type='submit']{padding: 11px 10px; width: 30%; }

footer{text-align: center;}
footer li{display: inline-block; margin-right: 10px; font-weight: normal;}
footer h2{ margin: 40px 0 10px; text-align: center; font-size: 28px;}
.for-online, .for-business, .main-office{float: none; margin: auto; width: 85%; }

.main-office li {display: block;}
.main-office i{display: block; width: 38px; height:38px; text-align: center; margin: auto;}
.map{padding: 5px;}
.map iframe{height: 250px; vertical-align: middle;}
.footer {padding: 0.8rem;}
.footer span{font-weight: bold;}
.fxd{position:fixed; top: 45%; right: 10px; color: #cb191e; font-size: 15px;}

/* ======== SERVICE PAGE ========= */
.service{ margin: 8% 0; overflow: hidden;}
.service img{max-width: 1500px; height: 1130px; overflow: hidden; margin-left: -72%;}
.service h1{margin: 10% 0 5%;}
.ways{width: 100%; font-size: 16px; line-height: 1; margin-top: 25px;}
.ways i{ font-size: 30px;}
.ways div{width: 80px; height: 80px;}
.ways h4{font-size: 18px; margin: 15px 0;}
.service-content{width: 94%;  bottom: 3%; line-height: 1.6;}
.service-content p{font-size: 16px;}

/* ======== CONTACT PAGE ========= */
.contact{height: 660px;}
.contact h1{margin-top: 10%;}
.con-left{width: 95%; float: none; margin: auto;}
.con-right{width: 95%; float: none;margin: auto;}

}/*mobile device*/

/* =============== TABLET DEVICE =================*/
 @media only screen and (min-width: 481px) and (max-width: 768px){
 .seting{font-size: 22px;}


	nav {	font-size: 15px; }

nav li,a {	padding: 4px;}

.dplist {	min-width: 220px;}


.dplist-right {right: -100px; top: -7px; min-width: 100px;}


/* ======== CONTACT PAGE ========= */
.contact{height: 665px;}
.contact h1{margin-top: 7%;}
.con-left, .con-right{width: 75%;}

footer{padding: 7% 0;}
footer li{line-height: 2; font-size: 15px;}
footer h2{font-size: 23px; font-weight: bold;}
.for-online{width: 22%; margin: 0 3%;}
.for-business{ width: 22%; margin-right: 3%;}

header {width: 100%; font-size: 12px;}

header i {
	padding: 8px;
	margin: 0 5px;
	font-size: 12px;
}

header p {
	margin-right: 15px;
}
.footer{font-size: 16px;}

.main-content {margin-top: 3%; margin: auto;}
.main-content h1{font-size: 2em; margin-bottom: 10px;}
.main-content h1 + p{font-size: 1.2em; margin-bottom: 3%;}
.main-content p{font-size: 15px;}
.main-content button{padding: 1.5% 4%;
}

 } /* TABLET DEVICE*/